<% content_for(:title, 'About') %>

<br/>

<div class="row">
  <div class="large-8 columns">
    <h3>About this wiki</h3>

    <p>This is a prototype for a wiki engine designed for categorising information based on references and citations.</p>

    <p>Traditional wikis are great for presenting and editing content, but the information often lacks structure. This wiki makes facts and references first order objects, allowing readers to clearly see and easily explore relationships between them.</p>

    <p>It's very much in an early alpha phase. Content is here for illustrative purposes only.</p>
  </div>
</div>
