<div class="row">
  <div class="large-8 columns">
    <div class="panel callout">
      <h3>Highlighted category: <%= @selected_category.name %></h3>
      <ul class="square">
        <% @selected_category.facts.each do |fact| %>
            <li>
              <strong>Fact:</strong> <%= link_to fact.summary, fact %>
            </li>
        <% end %>
      </ul>
      <a href="/">Show another</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <%= render partial: 'categories/tree', locals: { categories: @root_categories } %>
    </div>
  </div>
</div>