<div class="row">
  <div class="large-8 columns">
    <h3>Versions</h3>
    <table>
      <% @versions.each do |v| %>
          <tr>
            <td><%= format_time v.created_at %></td>
            <td><%= v.reify.version_description %></td>
            <td><%= link_to 'View', version_path(v) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>