<ul class="square">
  <% categories.each do |category| %>
      <li>
        <% if category == selected %>
            <strong><%= category.short_name %></strong>
        <% else %>
            <%= link_to category.short_name, "/categories/#{category.name}" %>
        <% end %>

        <%= render partial: 'categories/tree', locals: { categories: category.subcategories, selected: selected } %>
      </li>
  <% end %>
</ul>